/* Variables */
:root {
	--background: light-dark(#fff, rgb(40, 40, 40));

	/* Buttons */
	/* Regular */
	--btn-color: light-dark(#0D47C4, #fff);
	--btn-border: light-dark(#0D47C4, #fff);
	--btn-background: light-dark(#fff, transparent);
	/* Active */
	--btn-active-color: light-dark(#fff, #0D47C4);
	--btn-active-background: light-dark(#0D47C4, #fff);
	/* Warning */
	--btn-warning-background: light-dark(#A90003, #F26A6A);
	--btn-warning-color: light-dark(#fff, #000);
	--btn-warning-hover-background: light-dark(darkred, rgb(237, 61, 61));
	/* Hover */
	--btn-hover-background: light-dark(#0d47c44a, #ffffff15);

	/* Labels */
	--label-warning-background: light-dark(orange, #a97b08);
	--label-success-background: light-dark(rgb(56, 250, 131), rgb(47, 133, 80));
	--label-error-background: red;
}


/* Add support for material icons */

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }


/* App */

body, html {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans",  system-ui, -apple-system, sans-serif;
	background-color: var(--background);
}

.app {
    display: flex;
    height: 100vh;
	overflow: hidden;
}
 
.main-content {
    flex-grow: 1;
    padding: 20px;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 0;
	padding-top: 0;
}

/* Navbar */
  
.navbar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 15px;
}

.navbar li:first-child {
	background: #0D47C4;
	;
}

.navbar li:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
  
.navbar ul {
    list-style-type: none;
    padding: 0;
	margin: 0;
}
  
.navbar ul li {
    cursor: pointer;
    padding: 0.7rem 0.9rem;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
	height: 100vh;
	overflow: auto;
}

.navbar .divider, .navbar .divider:hover {
	height: 1px;
	padding: 0;
	background-color: gray;
	cursor: default;
}

/* Color mode selector */

#color-mode button {
	padding: 0.4rem 1rem;
	color: #000;
	background: #fff;
	margin: 3rem 0.5rem 0 0;
	border-radius: 0.8rem;
	border: none;
}

#color-mode button:disabled {
	color: #fff;
	background: #000;
}

/* Buttons */

button {
	padding: 10px 20px;
	background-color: var(--btn-background);
	color: var(--btn-color);
	border: solid 1px var(--btn-border);
	border-radius: 5px;
	cursor: pointer;
	margin: 0.5rem;
}

button:hover {
	background-color: var(--btn-hover-background);
}

button.active, button:active {
	background-color: var(--btn-active-background);
	color: var(--btn-active-color);
}

button.warning {
	color: var(--btn-warning-color);
	background-color: var(--btn-warning-background);
}

button.warning:hover {
	background-color: var(--btn-warning-hover-background);
}

input::file-selector-button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	}

input::file-selector-button:hover {
	background-color: #0056B3;
}

/* Forms */

select {
	width: 50%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Labels */

.label-warning, .label-success, .label-error {
	border-radius: 1rem;
	padding: 0.2rem 0.5rem;
	display: inline-block;
	margin: 1rem 0;
}

.label-warning {
	background-color: var(--label-warning-background);
}

.label-success {
	background-color: var(--label-success-background);
}

.label-error {
	background-color: var(--label-error-background);
	color: white;
}

/* Tasks */
  
.task-list ul {
    list-style-type: none;
    padding: 0;
}
  
.task-list li {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
.task-list li.overdue {
    background-color: #ffcccc;
}
  
.task-list li.active {
	background-color: #e6ffe6;
}

.task-list li.trashed {
	background-color: #888888;
}
  
.tasklist-tags-container
{
	display: block;
	align-items: start;
	height: max-content;
}

.task-detail-form {
    max-width: 600px;
    margin: 0 auto;
	padding-bottom: 20px;
}

.task-detail-form .full-width-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}



.task-detail-form p, strong
{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.category-et-tags-container
{
	display: grid;
	grid-column: 100%;
}

.category-et-tags-container div select
{
	margin: 0;
}

/* Category Manager ---- ---- ---- ---- ---- ---- ---- ----*/

.header-container
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-items: center;
}

.search-box
{
	display: grid;
	grid-template-columns: auto min-content;
	align-items: center;
	position: relative;
	top: -1rem;
}

.category-list-item
{
	margin-top: 5px;
	margin-left: 5px;
	display: grid;
	grid-gap: 10px;
	width: 100%;
	grid-template-columns: min-content auto min-content min-content;
}

.category-list-item div
{
	display: flex;
	align-items: center;
}

.category-list-item input
{
	height: 100%;
}

/* Tag Manager ---- ---- ---- ---- ---- ---- ---- ----*/

/* Tag list item styles */
.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.tag-colour-block {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border-radius: 3px;
}

.category-container
{
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	margin-bottom: 10px;
}

.category-container select
{
	margin: 0 0 0 5px;
	width: fit-content;
}

/* Data Management */

#data-management section {
	margin-top: 3rem;
}

